.sale-swiper {
    padding: 0 35px;

    z-index: 0;
}

.sale-swiper .swiper-button-next {
    background: #FFFFFF;

    color: #000F08;

    border: 1px solid rgb(0, 0, 0, .3);
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

    padding: 12px 24px;

    top: 44%;
    right: 2px;
}

.sale-swiper .swiper-button-prev {
    background: #FFFFFF;

    color: #000F08;

    border: 1px solid rgb(0, 0, 0, .3);
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

    padding: 12px 24px;

    top: 44%;
    left: 2px;
}

.sale-swiper .swiper-button-next:after {
    margin-left: 6px;
}

.sale-swiper .swiper-button-prev:after {
    margin-right: 6px;
}

@media (max-width: 550px) {
    .sale-swiper {
        padding: 0;
    }

    .sale-swiper .swiper-button-prev {
        background: transparent;
        color: #000F08;
        border: 0;
        border-radius: 0;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
        padding-left: 12px;
    }

    .sale-swiper .swiper-button-next {
        background: transparent;
        color: #000F08;
        border: 0;
        border-radius: 0;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
        padding-right: 12px;
    }
}

