@import "variables";

.header-li {
  font-family: $primary-font;
  font-weight: font-weight('regular');
  font-style: normal;

  font-size: 24px;
  line-height: 28px;
}

.header-logo {
  font-family: $primary-font;
  font-weight: font-weight('medium');
  font-style: normal;

  font-size: 70px;
  line-height: 74px;

  color: $white-1;
  text-decoration: none;
}

.category-block-link {
  font-family: $secondary-font;
  font-weight: font-weight('regular');
  font-style: normal;

  font-size: 32px;
  line-height: 36px;

  background: $light-purple;
  color: $black-1;

  text-decoration: none;
}

.category-block-items-link:hover {
  color: $black-1;
}

.card-sale-price {
  font-family: $secondary-font;
  font-weight: font-weight('regular');
  font-style: normal;

  font-size: 24px;
  line-height: 28px;

  color: $sale-1;
  text-decoration: none;
}

.border-1 {
  border: 2px solid $white-1;
}

.welcome-title {
  font-family: $primary-font;
  font-weight: font-weight('medium');
  font-style: normal;

  font-size: 60px;
  line-height: 64px;

  color: $white-1;
  text-decoration: none;
}

.welcome-text {
  font-family: $secondary-font;
  font-weight: font-weight('regular');
  font-style: normal;

  font-size: 32px;
  line-height: 36px;

  color: $white-1;
  text-decoration: none;
}

.main-page-title {
  font-family: $secondary-font;
  font-weight: font-weight('regular');
  font-style: normal;

  font-size: 60px;
  line-height: 64px;

  color: $black-1;
  text-decoration: none;
}

.product-title {
  font-family: $secondary-font;
  font-weight: font-weight('regular');
  font-style: normal;

  font-size: 32px;
  line-height: 36px;

  color: $black-1;
  text-decoration: none;
}

.product-common-text {
  font-family: $secondary-font;
  font-weight: font-weight('regular');
  font-style: normal;

  font-size: 24px;
  line-height: 28px;

  color: $black-1;
  text-decoration: none;
}

.footer-title {
  font-family: $secondary-font;
  font-weight: font-weight('medium');
  font-style: normal;
  letter-spacing: 0.04em;

  font-size: 32px;
  line-height: 36px;

  color: $black-1;
  text-decoration: none;
}

.subscribe-message {
  font-family: $primary-font;
  font-weight: font-weight('medium');
  font-style: normal;
  letter-spacing: 0.04em;

  font-size: 32px;
  line-height: 36px;

  color: $black-1;
  text-decoration: none;

  border-bottom: solid 3px $black-1;
}

.footer-title-input {
  font-family: $secondary-font;
  font-weight: font-weight('light');
  font-style: normal;
  letter-spacing: 0.04em;

  font-size: 32px;
  line-height: 36px;

  color: $black-1;
  text-decoration: none;
}

.footer-text {
  font-family: $secondary-font;
  font-weight: font-weight('light');
  font-style: normal;
  letter-spacing: 0.04em;

  font-size: 24px;
  line-height: 28px;

  color: $black-1;
  text-decoration: none;
}

.header-search-input, .header-search-input::placeholder {
  font-family: $secondary-font;
  font-weight: font-weight('regular');
  font-style: normal;
  letter-spacing: 0.04em;

  font-size: 32px;
  line-height: 36px;

  color: $white-1;
  text-decoration: none;
}

.header-search-input-result {
  font-family: $secondary-font;
  font-weight: font-weight('regular');
  font-style: normal;
  letter-spacing: 0.04em;

  font-size: 24px;
  line-height: 28px;

  color: $black-1;
  text-decoration: none;
}

.bag-container-title {
  font-family: $primary-font;
  font-weight: font-weight('regular');
  font-style: normal;
  letter-spacing: 0.04em;

  font-size: 32px;
  line-height: 36px;

  color: $black-1;
  text-decoration: none;

  text-transform: uppercase;
}

.bag-container-text {
  font-family: $primary-font;
  font-weight: font-weight('light');
  font-style: normal;
  letter-spacing: 0.04em;

  font-size: 24px;
  line-height: 28px;

  color: $black-1;
  text-decoration: none;

  text-transform: uppercase;
}

.bag-container-title-items {
  font-family: $primary-font;
  font-weight: font-weight('light');
  font-style: normal;
  letter-spacing: 0.04em;

  font-size: 24px;
  line-height: 28px;

  color: $gray-1;
  text-decoration: none;

  text-transform: lowercase;
}

.accordion-title {
  font-family: $primary-font;
  font-weight: font-weight('light');
  font-style: normal;
  letter-spacing: 0.04em;

  font-size: 24px;
  line-height: 28px;

  color: $black-1;
  text-decoration: none;

  text-transform: uppercase;
}

.accordion-text {
  font-family: $primary-font;
  font-weight: font-weight('light');
  font-style: normal;
  letter-spacing: 0.04em;

  font-size: 24px;
  line-height: 36px;
  text-align: start;

  color: $gray-1;
  text-decoration: none;
}

.like-icon {
  color: $white-1;
}

.like-button {
  background: $black-1;
}

.like-icon-active {
  color: $sale-1;
}

.like-button-active {
  background: rgba(0, 0, 0, .1);
}

@media (max-width: 1600px) {
  .header-logo, .welcome-title, .main-page-title {
    font-size: 44px;
    line-height: 48px;
  }

  .category-block-link, .welcome-text, .product-title, .footer-title, .subscribe-message,
  .footer-title-input, .header-search-input, .header-search-input::placeholder, .bag-container-title {
    font-size: 22px;
    line-height: 26px;
  }

  .header-li, .product-common-text, .footer-text, .header-search-input-result,
  .bag-container-text, .bag-container-title-items, .accordion-title, .accordion-text {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 1280px) {
  .header-logo, .welcome-title, .main-page-title {
    font-size: 40px;
    line-height: 44px;
  }

  .category-block-link, .welcome-text, .product-title, .footer-title, .subscribe-message,
  .footer-title-input, .header-search-input, .header-search-input::placeholder, .bag-container-title {
    font-size: 20px;
    line-height: 24px;
  }

  .header-li, .product-common-text, .footer-text, .header-search-input-result,
  .bag-container-text, .bag-container-title-items, .accordion-title, .accordion-text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 950px) {
  .header-logo, .welcome-title, .main-page-title {
    font-size: 32px;
    line-height: 46px;
  }
}